<!-- PartModal.svelte -->

<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import type { Part } from "./part";
  import { Maybe, Some, None } from "@ts-std/monads";
  export let part: Maybe<Part>;

  let formData: Partial<Part> = part.match({
    some: (p) => p,
    none: () => {
      return {
        name: "",
        description: "",
      };
    },
  });

  const dispatch = createEventDispatcher();

  function save() {
    dispatch("save", formData);
    dispatch("close");
  }

  function close() {
    dispatch("close");
  }
</script>

<div class="modal__background">
  <div class="modal">
    <div class="modal__item">
      <label>Pavadinimas: <input bind:value={formData.name} /></label>
    </div>

    <div class="modal__item">
      <label>Aprašymas: <input bind:value={formData.description} /></label>
    </div>

    <div class="modal__item" style="background-color: #a63a50;">
      <button on:click={save}>Išsaugoti</button>
      <button
        on:click={close}
        style="background-color: #a63a50; outline: 1px solid white; color: white"
        >Atšaukti</button
      >
    </div>
  </div>
</div>

<style lang="scss">
  .modal__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    height: 100%;
    display: flex;
    background-color: rgba(169, 169, 169, 0.159);
    align-items: center;
    justify-content: center;
  }

  .modal {
    background: white;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    padding-top: 20px;
    border-radius: 8px;

    &__item {
      justify-content: flex-end;
      width: 100%;
      min-height: 30px;
      display: flex;
      padding: 10px 8px;
      column-gap: 5px;
    }
  }

  input {
    height: 100%;
    border: none;
    background-color: rgb(219, 219, 219);
    font-size: medium;
    text-align: right;

    &:focus-visible {
      outline: none;
      background-color: rgb(231, 231, 231);
    }
  }
</style>
