<script lang="ts">
  import { onMount } from "svelte";
  import { type Part } from "./part";
  import PartModal from "./PartModal.svelte";
  import { stateLoading } from "./state";
  import { Maybe, Some, None } from "@ts-std/monads";
  import { fetchResult, type ServerError } from "./api";
  import { fade } from "svelte/transition";
  import { error } from "@sveltejs/kit";

  let parts: Part[] = [];
  let page = 0;
  let pages = 1;
  $stateLoading = true;

  const refreshList = async () => {
    page = parseInt(document.getElementById("paged").value) - 1;
    const res = await fetchResult<Part[]>(`parts/page/${page}`, {
      method: "GET",
    });
    let pagesres = await fetchResult<number>(`parts/page`, {
      method: "GET",
    });

    pagesres.match({
      ok: (p) => {
        pages = Math.max(Math.ceil(p / 20), 1);
      },
      err: () => {},
    });
    parts = res.match({
      ok: (v) => {
        return v;
      },
      err: () => {
        return [];
      },
    });
    $stateLoading = false;
  };

  onMount(refreshList);

  let modalOpen = false;

  let chosenPart: Maybe<Part> = None;

  const openPartModal = (part: Maybe<Part>) => {
    modalOpen = true;
    chosenPart = part;
  };

  const deletePart = async (part: Part) => {
    const res = await fetchResult<boolean>(`parts/${part.id}`, {
      method: "DELETE",
    });

    if (res.is_ok()) {
      parts = parts.filter((p) => p.id != part.id);
    }
  };

  const savePart = async (
    e: CustomEvent<{ name: string; description: string; id?: number }>
  ) => {
    console.log(e.detail);
    if (e.detail.id == undefined) {
      const res = await fetchResult<number>("parts", {
        method: "POST",
        body: JSON.stringify(e.detail),
      });

      res.match({
        ok: (r: number) => {
          parts = [...parts, { ...e.detail, id: r }];
        },
        err: (e: ServerError) => alert(e.error),
      });
    } else {
      const res = await fetchResult<Part>(`parts/${e.detail.id}`, {
        method: "PATCH",
        body: JSON.stringify({
          name: e.detail.name,
          description: e.detail.description,
        }),
      });

      res.match({
        ok: (r: any) => {
          parts = parts.map((p) => {
            if (p.id !== e.detail.id) {
              return p;
            } else {
              return { id: 0, ...e.detail };
            }
          });
        },
        err: (e: ServerError) => alert(e.error),
      });
    }
  };
</script>

<div class="content">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Detalės pavadinimas</th>
        <th>Aprašas</th>
        <th>Veiksmai</th>
      </tr>
    </thead>
    <tbody>
      {#each parts as part (part.id)}
        <tr>
          <td>{part.id}</td>
          <td>{part.name}</td>
          <td style="font-style: italic;">{part.description}</td>
          <td style="float: right;">
            <button on:click={() => openPartModal(Some(part))}>Redaguoti</button
            >
            <button
              style="background-color: #a63a50; color: white;"
              on:click={() => deletePart(part)}>Ištrinti</button
            >
          </td>
        </tr>
      {/each}
    </tbody>
  </table>
</div>
<button
  style="background-color: #a63a50; color: white; margin-top: 10px; margin-right: 17px; float: right;"
  on:click={() => openPartModal(None)}>Sukurti</button
>
<button
  style="background-color: #a63a50; color: white; margin-top: 10px; margin-right: 17px; float: right;"
  on:click={() => refreshList()}
  >Puslapis
  <input type="number" id="paged" min="1" max={pages} value={page + 1} />
</button>

{#if modalOpen}
  <div transition:fade={{ duration: 100 }}>
    <PartModal
      part={chosenPart}
      on:close={() => (modalOpen = false)}
      on:save={savePart}
    />
  </div>
{/if}

<style lang="scss">
  .content {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
  }
  table {
    width: 100%;
    // background-color: bisque;
  }
  th {
    border-radius: 8px;
  }
  thead {
    // background-color: red;
    border-radius: 8px;
    // border-bottom: 2px solid red;
  }
  tbody {
    & > tr {
      &:nth-child(odd) {
        background-color: #ab9b96;
      }
      &:nth-child(even) {
        background-color: #ebebeb;
      }
    }
  }

  td {
    padding: 8px;
  }

  .page {
    justify-content: left;
  }
</style>
