<!-- App.svelte -->

<script lang="ts">
  import PartList from "$lib/PartList.svelte";
  import Fa from "svelte-fa";
  import {
    faDatabase,
    faNewspaper,
    faUser,
    faSpinner,
    type IconDefinition,
  } from "@fortawesome/free-solid-svg-icons";
  import { stateLoading } from "$lib/state";

  type Tab = { name: string; icon: IconDefinition; title: string };

  const tabs: Tab[] = [
    { name: "parts", icon: faDatabase, title: "Detalės" },
    { name: "listings", icon: faNewspaper, title: "Skelbimai" },
    { name: "users", icon: faUser, title: "Vartotojai" },
  ];
  let selectedTab = "parts";
  let title = "Detalės";

  function switchTab(tab: Tab) {
    $stateLoading = false;
    selectedTab = tab.name;
    title = tab.title;
  }

  /*

A63A50
F0E7D8
AB9B96 28464B
A1674A 326771

  */
</script>

<main>
  <aside>
    {#each tabs as tab}
      <div
        class="aside__tab"
        class:aside__tab--active={tab.name == selectedTab}
        on:click={() => switchTab(tab)}
        title={tab.title}
      >
        <div class="menu__entry">
          <Fa icon={tab.icon} size="lg"></Fa>
          <div class="text">
            {tab.title}
          </div>
        </div>
      </div>
    {/each}
  </aside>

  <div class="heading">
    {title}
  </div>

  <div class="content">
    {#if $stateLoading}
      <div class="loading">
        <Fa icon={faSpinner} color="#000" scale={5.0} spin></Fa>
      </div>
    {/if}
    {#if selectedTab === "parts"}
      <PartList />
    {:else if selectedTab === "listings"}
      <!-- <ListingList {listingData} /> -->
    {/if}
  </div>
</main>

<style lang="scss">
  main {
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap");
    font-family: "Montserrat", sans-serif;
  }

  main {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background: rgb(243, 238, 210);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .heading {
    height: 60px;
    background-color: white;
    color: black;
    position: fixed;
    width: calc(100vw - 180px);
    display: flex;
    align-items: center;
    padding-left: 62px;
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    top: 0;
    left: 180px;
  }

  .content {
    max-width: calc(100vw - 180px);
    padding: 20px;
    position: fixed;
    left: 181px;
    top: 60px;
    overflow-y: scroll;
    background: rgb(243, 241, 230);
    height: calc(100vh - 60px);
    max-height: calc(100vh - 120px);
    width: calc(100vw - 220px);
  }

  aside {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #a63a50;
    color: white;
    height: 100vh;
    width: 177px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px 2px;
    row-gap: 30px;
    font-weight: bold;
  }

  .aside__tab {
    cursor: pointer;
    padding: 8px 10px;
    filter: blur(0.1px);

    &--active {
      background-color: white;
      color: #a63a50;
      transition: all 0.3s ease-in-out;
    }
  }

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(221, 216, 162, 0.343);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu__entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
  }
</style>
